{%extends 'base.html'%}
{%load static%}
{%block title%}Karl - Fashion Ecommerce | Details{%endblock%}
{%block content%}

<form id="rating-form" method="POST" action="{% url 'submit_review' product.id %}">
    {% csrf_token %}
    <div class="single_product_ratings mb-15">
        {% with ''|center:5 as range %}
            {% for _ in range %}
                <i class="fa fa-star-o rating-star" data-value="{{ forloop.counter }}"></i>
            {% endfor %}
        {% endwith %}
    </div>
    <input type="hidden" name="rating" id="rating-value">
    <button type="submit" class="btn btn-sm btn-success mt-2">Submit Review</button>
</form>


<script>
    const stars = document.querySelectorAll('.rating-star');
    const ratingInput = document.getElementById('rating-value');

    stars.forEach((star, idx) => {
        star.addEventListener('click', () => {
            ratingInput.value = idx + 1;
            stars.forEach((s, i) => {
                s.classList.remove('fa-star', 'fa-star-o');
                s.classList.add(i <= idx ? 'fa-star' : 'fa-star-o');
            });
        });
    });
</script>
{%endblock%}